
@media only screen and (min-width: 321px) {
.leftcontent {
    height: 350px;
    width: 25%;
}
.leftcontent table {
    font-size: 13pt;
    margin-top: 61px;
}
.leftcontent table tr td {
    line-height: 24px;
}
.rightcontent {
    height: 350px;
    width: 74%;
}
.toptime {
    margin-left: 22px;
}
.toptime table {
    font-size: 10pt;
}
.toptime table tr td {
    padding-right: 41px;
}
.content {
    height: 66%;
    width: 76%;
}
.content #question {
    padding: 2px 27px;
}
#question h3 {
    font-size: 10pt;
}
#question p {
    font-size: 9pt;
    max-height: 150px;
}
.answer {
    height: 20%;
    margin-top: 8px;
    width: 76%;
}
.answer a {
    line-height: 2px;
}
.answer #answerTop {
    height: 50%;
}
#answerTop #answerA {
    width: 50%;
}
#answerTop #answerB {
    width: 50%;
}
.answer #answerSecond {
    height: 45%;
}
#answerSecond #answerC {
    width: 50%;
}
#answerSecond #answerD {
    width: 50%;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
.leftcontent {
    height: 755px;
    width: 25%;
}
.leftcontent table {
    font-size: 20pt;
    margin-top: 170px;
}
.leftcontent table tr td {
    line-height: 45px;
}
.rightcontent {
    height: 755px;
    width: 74%;
}
.toptime {
    height: 7%;
    margin-left: 50px;
}
.toptime table {
    font-size: 20pt;
}
.toptime table tr td {
    padding-right: 70px;
}
.content {
    height: 69%;
    width: 77%;
}
.content #question {
    padding: 30px 80px;
}
#question h3 {
    font-size: 17pt;
}
#question p {
    font-size: 13pt;
    max-height: 280px;
}
.answer {
    height: 22%;
    margin-top: 12px;
    width: 75%;
}
.answer a {
    line-height: 25px;
}
.answer #answerTop {
    height: 50%;
}
#answerTop #answerA {
    width: 50%;
}
#answerTop #answerB {
    width: 50%;
}
.answer #answerSecond {
    height: 45%;
}
#answerSecond #answerC {
    width: 50%;
}
#answerSecond #answerD {
    width: 50%;
}
}
@media only screen and (min-width: 1224px) {
.leftcontent {
    height: 790px;
    width: 25%;
}
.leftcontent table {
    font-size: 20pt;
    margin-top: 170px;
}
.leftcontent table tr td {
    line-height: 45px;
}
.rightcontent {
    height: 790px;
    width: 74%;
}
.toptime {
    height: 7%;
    margin-left: 50px;
}
.toptime table {
    font-size: 20pt;
}
.toptime table tr td {
    padding-right: 70px;
}
.content {
    height: 70%;
    width: 75%;
}
.content #question {
    padding: 30px 80px;
}
#question h3 {
    font-size: 17pt;
}
#question p {
    font-size: 13pt;
    max-height: 280px;
}
.answer {
    height: 22%;
    margin-top: 12px;
    width: 75%;
}
.answer a {
    line-height: 25px;
}
.answer #answerTop {
    height: 50%;
}
#answerTop #answerA {
    width: 50%;
}
#answerTop #answerB {
    width: 50%;
}
.answer #answerSecond {
    height: 45%;
}
#answerSecond #answerC {
    width: 50%;
}
#answerSecond #answerD {
    width: 50%;
}
}
